  <div class="container">
  <div class="row">
      <div class="col-lg-6"></div>
  <div class="col-lg-6">
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/employeedetails" routerLinkActive="active">Employeedetails</a>
    <a routerLink="/employeelist" routerLinkActive="active">Employeelist</a>
    <a routerLink="/contactform" routerLinkActive="active">Contact-from</a>
  </nav>
  </div>
  </div>
  </div>
  <router-outlet></router-outlet>